In [1]:
import pandas as pd
import numpy as np
NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import plotly.express as px
pd.set_option('max_colwidth', None)
from ckanapi import RemoteCKAN
import nest_asyncio
nest_asyncio.apply()
import requests

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the PyObis biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Command to install PyObis (currently not hosted on Pypi)
+ pip install git+https://github.com/cioos-siooc/pyobistools@main#egg=pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobis' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

Load different types of DWC files:

In [12]:
occurrence_core =      pd.read_csv('https://catalogue.ogsl.ca/data/ncc/ca-cioos_b52bb8be-d225-442c-94ab-6f107a64b8a6/saint_john_river_saltmarshes_species-occurrence_2021.csv')
occurrence_extension = pd.read_csv('https://catalogue.ogsl.ca/data/ismer/ca-cioos_0edfc94f-06d0-4823-84ef-df91e6c11fe6/ismer_occurrence_endofaune_cote-nord_2009.csv')
occurrence_extension.head(3)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation

Try the check_scientificname_and_ids function:

In [89]:
check_scientificname_and_ids(occurrence_core, 'names')

1 : 200: Worms Zizania
9 : 204: Worms Echinocystis lobata
32 : 200: Worms Chenopodium album
20 : 204: Worms Pastinaca sativa
16 : 200: Worms Doellingeria umbellata
34 : 200: Worms Ruppia maritima
11 : 200: Worms Galium
0 : 200: Worms Plantago
7 : 204: Worms Phalaris arundinacea
13 : 204: Worms Amphicarpaea bracteata
2 : 200: Worms Rumex
8 : 200: Worms Raphanus raphanistrum
6 : 204: Worms Convallaria majalis
29 : 204: Worms Apocynum cannabinum
30 : 200: Worms Agrostis gigantea
17 : 200: Worms Elodea canadensis
14 : 200: Worms Juncus gerardii
27 : 204: Worms Persicaria maculosa
31 : 204: Worms Ilex verticillata
4 : 204: Worms Sporobolus michauxianus
26 : 204: Worms Calystegia sepium
19 : 204: Worms Rhagonycha fulva
24 : 204: Worms Persicaria amphibia
10 : 200: Worms Tussilago farfara
12 : 200: Worms Typha latifolia
5 : 200: Worms Jacobaea vulgaris
23 : 200: Worms Salix
40 : 200: Worms Asteraceae
33 : 200: Worms Schoenoplectus tabernaemontani
15 : 200: Worms Schoenoplectus
35 : 200: Worms Cichorium intybus
39 : 204: Worms Carex pallescens
18 : 200: Worms Onoclea sensibilis
25 : 200: Worms Osmunda spectabilis
3 : 200: Worms Xanthium strumarium

                     Dataset Values  Validation Database values            \
                     scientificname Exact_Match         TaxonID    Status
0              Phalaris arundinacea      Non/no
101                        Lonicera      Non/no
99                Betula papyrifera      Non/no
98         Scutellaria galericulata      Non/no
97                         Rosaceae      Non/no
..                              ...         ...             ...       ...
107  Schoenoplectus tabernaemontani     Oui/Yes         1415740  accepted
37           Doellingeria umbellata     Oui/Yes         1097502  accepted
35               Onoclea sensibilis     Oui/Yes         1435901  accepted
76                  Juncus gerardii     Oui/Yes          394967  accepted
17                Jacobaea vulgaris     Oui/Yes         1111153  accepted

                                                                             \
    Unacceptreason Taxon_Rank Valid_TaxonID                      Valid_Name
0
101
99
98
97
..             ...        ...           ...                             ...
107           None    Species       1415740  Schoenoplectus tabernaemontani
37            None    Species       1097502          Doellingeria umbellata
35            None    Species       1435901              Onoclea sensibilis
76            None    Species        394967                 Juncus gerardii
17            None    Species       1111153               Jacobaea vulgaris


                                           LSID
0
101
99
98
97
..                                          ...
107  urn:lsid:marinespecies.org:taxname:1415740
37   urn:lsid:marinespecies.org:taxname:1097502
35   urn:lsid:marinespecies.org:taxname:1435901
76    urn:lsid:marinespecies.org:taxname:394967
17   urn:lsid:marinespecies.org:taxname:1111153

[145 rows x 9 columns]

In [91]:
check_scientificname_and_ids(occurrence_extension, 'names').head()

12 : 200: Worms Oediceros borealis
9 : 200: Worms Mytilus edulis
15 : 200: Worms Leucon nasicoides
6 : 200: Worms Littorina obtusata
5 : 200: Worms Littorina saxatilis
17 : 200: Worms Nereis diversicolor
14 : 200: Worms Mesodesma arctatum
3 : 200: Worms Nephtys ciliata
2 : 200: Worms Idotea balthica
8 : 200: Worms Eteone longa
1 : 200: Worms Mya arenaria
7 : 200: Worms Oligochaeta
4 : 200: Worms Microspio
13 : 200: Worms Nematoda
11 : 200: Worms Hydrobia minuta
18 : 200: Worms Gammarus oceanicus
10 : 200: Worms Psammonyx nobilis
16 : 200: Worms Macoma balthica

         Dataset Values  Validation Database values                            \
         scientificname Exact_Match         TaxonID                    Status
2     Leucon nasicoides      Non/no          148682  alternate representation
4     Psammonyx nobilis      Non/no          158140                unaccepted
8   Nereis diversicolor      Non/no          340537                   deleted
11      Hydrobia minuta      Non/no          152020                unaccepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
2                       None    Species        110619
4   superseded recombination    Species       1255501
8       AphiaID resurrection       None        152302
11          preoccupied name    Species        574096
0                       None    Species        156805


                    Valid_Name                                       LSID
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805

In [103]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1.head()

19 : 204: Worms Rhagonycha fulva
10 : 200: Worms Tussilago farfara
7 : 204: Worms Phalaris arundinacea
6 : 204: Worms Convallaria majalis
13 : 204: Worms Amphicarpaea bracteata
17 : 200: Worms Elodea canadensis
22 : 204: Worms Frangula alnus
5 : 200: Worms Jacobaea vulgaris
11 : 200: Worms Galium
2 : 200: Worms Rumex
12 : 200: Worms Typha latifolia
27 : 204: Worms Persicaria maculosa
24 : 204: Worms Persicaria amphibia
31 : 204: Worms Ilex verticillata
23 : 200: Worms Salix
16 : 200: Worms Doellingeria umbellata
3 : 200: Worms Xanthium strumarium
20 : 204: Worms Pastinaca sativa
0 : 200: Worms Plantago
36 : 200: Worms Vicia cracca
40 : 200: Worms Asteraceae
1 : 200: Worms Zizania
8 : 200: Worms Raphanus raphanistrum
18 : 200: Worms Onoclea sensibilis
14 : 200: Worms Juncus gerardii
4 : 204: Worms Sporobolus michauxianus
25 : 200: Worms Osmunda spectabilis
15 : 200: Worms Schoenoplectus
29 : 204: Worms Apocynum cannabinum
26 : 204: Worms Calystegia sepium
37 : 204: Worms Scirpus microcarpus
34 : 200: Worms Ruppia maritima
21 : 204: Worms Viburnum opulus
9 : 204: Worms Echinocystis lobata
30 : 200: Worms Agrostis gigantea

           Dataset Values  Validation Database values                        \
           scientificname Exact_Match         TaxonID Status Unacceptreason
0    Phalaris arundinacea      Non/no
103     Ilex verticillata      Non/no
102    Calidris minutilla      Non/no
101              Lonicera      Non/no
99      Betula papyrifera      Non/no


    Taxon_Rank Valid_TaxonID Valid_Name LSID
0
103
102
101
99

In [104]:
table2.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                        Dataset Values  \
  scientificNameID_Validation           ScientificName
0                      Non/No     Phalaris arundinacea
1                      Non/No  Sporobolus michauxianus
2                      Non/No   Schoenoplectus pungens

                                      Database values
                     ScientificNameID      Valid_Name LSID
0    urn:lsid:itis.gov:itis_tsn:41335
1  urn:lsid:ipni.org:names:77145291-1
2   urn:lsid:itis.gov:itis_tsn:508146

In [105]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')

7 : 204: Worms Phalaris arundinacea
13 : 204: Worms Amphicarpaea bracteata
1 : 200: Worms Zizania
3 : 200: Worms Xanthium strumarium
15 : 200: Worms Schoenoplectus
20 : 204: Worms Pastinaca sativa
14 : 200: Worms Juncus gerardii
27 : 204: Worms Persicaria maculosa
19 : 204: Worms Rhagonycha fulva
8 : 200: Worms Raphanus raphanistrum
16 : 200: Worms Doellingeria umbellata
29 : 204: Worms Apocynum cannabinum
32 : 200: Worms Chenopodium album
39 : 204: Worms Carex pallescens
24 : 204: Worms Persicaria amphibia
25 : 200: Worms Osmunda spectabilis
23 : 200: Worms Salix
37 : 204: Worms Scirpus microcarpus
42 : 200: Worms Lonicera
34 : 200: Worms Ruppia maritima
0 : 200: Worms Plantago
40 : 200: Worms Asteraceae
38 : 204: Worms Alnus alnobetula
5 : 200: Worms Jacobaea vulgaris
51 : 204: Worms Alnus incana
46 : 204: Worms Chelone glabra
9 : 204: Worms Echinocystis lobata
31 : 204: Worms Ilex verticillata
43 : 200: Worms Eleocharis uniglumis
4 : 204: Worms Sporobolus michauxianus
49 : 200: Worms Eleocharis palustris
57 : 200: Worms Scirpus
66 : 200: Worms Ranunculus repens
36 : 200: Worms Vicia cracca
28 : 200: Worms Typha
11 : 200: Worms Galium
6 : 204: Worms Convallaria majalis
17 : 200: Worms Elodea canadensis
33 : 200: Worms Schoenoplectus tabernaemontani
41 : 200: Worms Carex
26 : 204: Worms Calystegia sepium
2 : 200: Worms Rumex
21 : 204: Worms Viburnum opulus
10 : 200: Worms Tussilago farfara
18 : 200: Worms Onoclea sensibilis
44 : 204: Worms Mentha canadensis
12 : 200: Worms Typha latifolia
30 : 200: Worms Agrostis gigantea
50 : 200: Worms Castor canadensis
58 : 200: Worms Megaceryle alcyon
22 : 204: Worms Frangula alnus
45 : 200: Worms Sagittaria latifolia
47 : 200: Worms Erechtites hieraciifolius
35 : 200: Worms Cichorium intybus
52 : 200: Worms Galium mollugo
53 : 204: Worms Persicaria sagittata
48 : 200: Worms Nuphar
61 : 200: Worms Plantago major
63 : 200: Worms Rosaceae
70 : 204: Worms Berberis thunbergii

In [106]:
table3

            Dataset Values  Validation Database values            \
            ScientificName Exact_Match         TaxonID    Status
0     Phalaris arundinacea      Non/no
96              Persicaria      Non/no
95                 Poaceae      Non/no
94                  Bidens      Non/no
93       Lycopus uniflorus      Non/no
..                     ...         ...             ...       ...
118      Elodea canadensis     Oui/Yes         1043306  accepted
119      Castor canadensis     Oui/Yes         1580087  accepted
120                  Rumex     Oui/Yes          415941  accepted
52   Raphanus raphanistrum     Oui/Yes          993765  accepted
62                  Galium     Oui/Yes          993892  accepted

                                                                    \
    Unacceptreason Taxon_Rank Valid_TaxonID             Valid_Name
0
96
95
94
93
..             ...        ...           ...                    ...
118           None    Species       1043306      Elodea canadensis
119           None    Species       1580087      Castor canadensis
120           None      Genus        415941                  Rumex
52            None    Species        993765  Raphanus raphanistrum
62            None      Genus        993892                 Galium


                                           LSID
0
96
95
94
93
..                                          ...
118  urn:lsid:marinespecies.org:taxname:1043306
119  urn:lsid:marinespecies.org:taxname:1580087
120   urn:lsid:marinespecies.org:taxname:415941
52    urn:lsid:marinespecies.org:taxname:993765
62    urn:lsid:marinespecies.org:taxname:993892

[145 rows x 9 columns]

In [107]:
table4.head()

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no
3  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-004                    Non/no
5  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-006                    Non/no

                                                             Dataset Values  \
  TaxonRank_Validation scientificNameID_Validation           ScientificName
0               Non/No                      Non/No     Phalaris arundinacea
1               Non/No                      Non/No  Sporobolus michauxianus
2               Non/No                      Non/No   Schoenoplectus pungens
3               Non/No                      Non/No           Oxybasis rubra
5               Non/No                      Non/No         Linaria vulgaris

                                                Database values             \
  TaxonRank                    ScientificNameID      Valid_Name Taxon_Rank
0   Species    urn:lsid:itis.gov:itis_tsn:41335
1   Species  urn:lsid:ipni.org:names:77145291-1
2   Species   urn:lsid:itis.gov:itis_tsn:508146
3   Species  urn:lsid:ipni.org:names:77121013-1
5   Species    urn:lsid:itis.gov:itis_tsn:33216


  LSID
0
1
2
3
5

Try the check_scientificname_and_ids function - itis_usage:

In [60]:
# function can take a few minutes to process with 'itis_usage = True'
# uncomment following line to test the 'itis_usage' parameter
#check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()